PINECONE_API_KEY="pcsk-..."
PINECONE_NAMESPACE="global"
PINECONE_INDEX_AWS_NOVA_1024="aws-nova-1024"

AWS_REGION="us-east-1"
AWS_NOVA_EMBEDDING_MODEL="amazon.nova-2-multimodal-embeddings-v1:0"

TEXT_DATA_FOLDER="data/txt"
IMAGE_DATA_FOLDER="data/image"
VIDEO_DATA_FOLDER="data/video"
AUDIO_DATA_FOLDER="data/audio"
